body {
		padding: 0;
		margin: 0;
		color: rgb(0, 0, 0); 
		background-color: rgb(233, 233, 233);		
	}
footer {
	width: 100%; 
	/*height: 100px;*/ 
	background: #333; 
	border-top: 2px solid #000; 
	position: fixed; 
	bottom: 0;
}
.full{
	width: 100%;
	height: 600px;
}
html, body, #map {
	//border: 1px #bbb solid;
	//display: inline;
	height: 100%;
	width: 100%;			
	//float: left;
	//margin-top: 10px;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.overlay {
	position:absolute; 
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: #223;
	background-color:rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.title {
	top:10px;
	right:10px;
}
.footer {
	bottom:30px;
	left:10%;
	right:10%;
}
.box {
	bottom:90px;
	left:30%;
	right:30%;
}
.helvetica{
	font-family: Helvetica,Arial,sans-serif;
}
.sakura{
	width: 37px; 
	height: 35px;
}
.sayuri{
	float: right;
}
.siapa-im{
	width: 45px;
	height: 63px;
}
.siapa-manejo{
	width :410px;
	height:106px;
}
.jalisco{
	width: 218px;
	height: 73px;
}
