@media only screen and (max-width : 663px) {
	.re {
		float: inherit !important;
	}
	.row {
		display: inline-block !important;
	}
	.down {
		padding-top: 15px;
		position: relative !important;
		width: 100% !important;
	}
}
@media only screen and (max-width : 1257px) {
	.sakura {
		float: left !important;
	}
	.down {
		padding-top: 15px;
		position: relative !important;
		width: 100% !important;
	}
}
@media only screen and (max-width : 370px) {
	#map {
		height: 70% !important;
	}
}
body {
	color: rgb(0, 0, 0); 
	background-color: rgb(255, 255, 255);
	/*background-color: rgb(233, 233, 233);*/
	padding: 0;
	margin: 0;			
}
html, body {
	//border: 1px #bbb solid;
	//display: inline;
	height: 100%;
	width: 100%;			
	//float: left;
	//margin-top: 10px;
}
#map {
	width: 100%;
	height: 63%;
}
.info {
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.info h4 {
	margin: 0 0 5px;
	color: #777;
}

.legend {
	text-align: left;
	line-height: 18px;
	color: #555;
}
.legend i {
	width: 18px;
	height: 18px;
	float: left;
	margin-right: 8px;
	opacity: 0.7;
}
.overlay {
	position:absolute; 
	padding: 6px 8px;
	font: 14px/16px Arial, Helvetica, sans-serif;
	color: #223;
	background-color:rgba(255,255,255,0.8);
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	border-radius: 5px;
}
.title {
	top:10px;
	right:10px;
}
.footer {
	bottom:30px;
	left:10%;
	right:10%;
}
.box {
	bottom:90px;
	left:30%;
	right:30%;
}
.helvetica{
	font-family: Helvetica,Arial,sans-serif;
}
.sakura{
	width: 37px; 
	height: 35px;
}
.sayuri{
	float: right;
}
.siapa-im{
	width: 45px;
	height: 63px;
}
.siapa-manejo{
	width :410px;
	height:106px;
}
.jalisco{
	width: auto;
	height: 73px;
}
.suzy {
	margin: 0 auto;
	padding: 0;
}
.center {
	text-align: center !important;
}
.float-left {
	float: left;
}
.float-right {
	float: right;
}
.margin {
	margin: 25px 25px auto;
}
.address {
	font-style: normal;
	font-size: 17px;
}
.top {
	top: 40px;
}
.logo {
	height: 63px;
	line-height: 63;
	width: 45px;
}
.inundaciones {
	height: 106px;
	width: 300px;
}
.jalisco {
	height: 73px;
	width: auto;
}
.row {
	display: flex;
	height: 50px;
	position: relative;
	width: 100% !important;
}
.direct {
	position: relative;
	width: 60%;
}
.icons {
	float: right;
	position: absolute;
	width: 40%;
}
.yuriko_huehara {
	margin: 5px;
}
.yuriko_huehara img {
	border-radius: 3px;
}
